<!doctype html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
  <head th:replace="layout :: head">
  </head>
	<head >
		<meta charset="UTF-8">

  </head>
  <body>
<!--   		 <div th:replace="layout :: header"></div> -->
  		<div class="container text-center" style="margin-top: -4%;">

		    <div class="row">
		        <div class="col-md-12">
		            <div class="error-template">
		            <pre>
		           
		            	</pre>
		                <h1>
		                    Oops!</h1>
		                <h2>
		                    <b>408</b> Request Timeout</h2>
		                <div class="error-details">
		                    <h6>Désolé, une erreur s'est produite, le serveur souhaiterait clôturer cette connexion inutilisée !</h6>
		                </div>
		                
		            </div>
		        </div>
		    </div>
		     <pre>
		           
		         </pre>
		</div>
  	<div th:replace="layout :: footer"></div>
    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"></script>
  </body>
</html>